@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #f1f3f1;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #000a06;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: rgb(0, 0, 0);
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}


.open .mobile-menu {
  
  display: flex;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  background-color: #f1f3f1;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh);
  width: 100%;
  z-index: 100;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}


body, h1, h2, p {
    margin: 0;
    padding: 0;
}


.grid-container {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    height: 15vh; 
}



.box1 {
  margin-top: 0px;
  background-image: linear-gradient(to bottom right, rgb(85, 0, 255), rgb(255, 0, 191));
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.box {
  border-style: solid;
  border-width: medium;
  border-color: #39393d;
    background-color: #ffffff;
    color: #fff; 
    padding: 20px;
    text-align: center; 
    font-size: 18px;
    height: 60vh;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}
.boxg {
  border-style: solid;
  border-width: medium;
  border-color: #000a06;
    background-color: #dadada;
    color: #fff;
    padding: 20px; 
    text-align: center; 
    font-size: 18px;
    height: 60vh;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}



@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}




.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 8px; 
  max-width: 600px; 
  width: 100%;
  max-height: 600px;
  height: 100%;

  padding:auto;
}


.box2 {
  background-color:#00407A; 
  color: #fff; 
  padding: 20%; 
  text-align: center; 
  font-size: 18px;
  border-radius: 10px; 
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1023px) and (min-width: 768px){
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .box1 {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .box1{
    order:2;
  }
  .box{
    order:1;
  }
}